#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.4rem;
}
.header > .title > h1 {
  font-size: 3rem;
}

.header > .score {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.cards > div:hover {
  filter: drop-shadow(0 0 2rem #ff0000);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards > div {
  will-change: filter;
  transition: filter 200ms;

  border-radius: 20px;
  cursor: pointer;
  margin: 10px 20px;
  text-align: center;
  border: 1px solid white;
  background-color: rgb(66, 66, 253);
}

.cards > div > p {
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.read-the-docs {
  color: #888;
}
